<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments/nav.html::fragment-nav}"></div>
<div class="container" style="max-width: 700px">
    <div class="py-5 text-center">
        <h1 class="mt-4">폴더 생성하기</h1>
    </div>
    <div class="container">
        <form th:action th:object="${saveDTO}" method="post" class="row g-3 needs-validation" novalidate>
            <div class="row mb-3">
                <label for="folderName" class="col-sm-2 col-form-label">폴더 이름</label>
                <div class="col-sm-10">
                    <input type="text" id="folderName" th:field="*{name}" class="form-control">
                </div>
            </div>
            <button class="btn btn-outline-primary btn-custom mx-auto" type="submit">생성하기</button>
        </form>
    </div>
</div>
</body>
</html>