<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{/fragments/nav.html::fragment-nav}"></div>
<div class="container" style="max-width: 700px">
    <div class="py-5 text-center">
        <h2>파일 조회</h2>
    </div>
    <div class="container mx-auto">
        <table class="table">
            <thead>
            <tr>
                <th>저장명</th>
                <th>파일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items.getItems()}">
                <td th:text="${item.name}"></td>
                <td><a th:if="${item.file}"
                       th:text="${item.getFile().uploadFileName}"
                       th:href="|/items/${item.id}/download|"/></td>
                <td><button class="btn btn-outline-danger btn-sm"
                            th:onclick="|location.href='@{/items/{itemId}/delete(itemId=${item.id})}'|"
                            type="button">삭제</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>