<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .login-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="login-container mt-5">
        <h2 class="text-center mb-4">로그인</h2>
        <form th:action th:object="${loginDTO}" method="post" class="g-3 needs-validation">
          <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="이메일 입력">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="비밀번호 입력">
          </div>
          <button type="submit" class="btn btn-primary w-100">로그인</button>
        </form>
        <a href="/users/join">회원가입</a>
      </div>
    </div>
  </div>
</div>
</body>

</html>
