<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments/nav.html::fragment-nav}"></div>
<div class="container" style="max-width: 700px">
    <div class="py-5 text-center">
        <h1 class="mt-4">My Page</h1>
    </div>
    <div class="container mx-auto">
        <table class="table">
            <thead>
            <tr>
                <th>유저 닉네임</th>
                <th>유저 이메일</th>
                <th>사용량</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.usage}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>